# TCG - Defines eras that randomize the recruit lists.

# This code is common to all TCG eras.
# SIZE: Size of each player's recuit list.
#define TCG_COMMON SIZE
    [multiplayer_side]
        name=_"Summoners"
        id=Summoners
        leader=Armageddon Drake,Elder Mage,Fire Dragon,Ancient Lich,Skeletal Dragon,Arch Necromancer
        type=random
    [/multiplayer_side]

    [event]
        name=preload
        first_time_only=false
        [lua]
            code= << wesnoth.dofile "~add-ons/TCG/TCG.lua" >>
        [/lua]
    [/event]

    [event]
        name=prestart
        [tcg_init]
            size={SIZE}
        [/tcg_init]
    [/event]

    [event]
        name=side turn
        first_time_only=false
        [fill_recruit_list]
        [/fill_recruit_list]
    [/event]
#enddef

# Used in an era that does not refill the recruit list on every recruit. Named
# after the included event actions.
# SIZE: Size of each player's recuit list.
#define TCG_MENU_REMOVE SIZE
    {TCG_COMMON {SIZE}}

    [event]
        name=prestart
        [set_menu_item]
            id=show_recruit
            description=_"Show actual recruit list"
            [command]
                [show_recruit]
                [/show_recruit]
            [/command]
        [/set_menu_item]
    [/event]

    [event]
        name=recruit
        first_time_only=false
        [remove_type]
        [/remove_type]
    [/event]
#enddef

[era]
    id=era_tcg_castle
    name="TCG Castle"
    
    {TCG_MENU_REMOVE ()}
[/era]

[era]
    id=era_tcg6
    name="TCG 6"

    {TCG_MENU_REMOVE 6}
[/era]

[era]
    id=era_tcg1
    name="TCG 1"

    {TCG_COMMON 1}

    [event]
        name=recruit
        first_time_only=false
        [replace_type]
        [/replace_type]
    [/event]
[/era]
